<h4>Login</h4>

<div class="row">
    <div class="input-field col s6">
        <input id="nome" [(ngModel)]="usuario.nome" type="text" class="validate">
        <label class="active" for="nome">Nome</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <input id="senha" [(ngModel)]="usuario.senha" type="password" class="validate">
        <label class="active" for="senha">Senha</label>
    </div>
</div>


<button class="btn waves-effect waves-light green" type="submit" name="action" (click)="fazerLogin()">
        <i class="material-icons right">send</i> 
        Login
</button>